body {
  min-height: 800px;
  border: 8px solid black;
  display: flex;
  gap: 20px;
}

#box-1 {
    flex-grow: 1;
}

.box {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: #0071ff;
  font-size: 40pt;
}
